<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="main_style.css"/>
    <title>Admin</title>
</head>
<body>
<header id="above">
</header>
<header id="header">
    DATING &#127918; GAMING
</header>
<div class="topnav">
    <a class="active" href="/users">PROFILER</a></li>
    <a href="">MINE CHATS</a></li>
    <a href="/loggedin">MIN PROFIL</a></li>
    <a href="">LOG UD</a></li>
</div>
<div id="banner">
    ADMIM
</div>
<div id="content">
</div>
<footer>
</footer>
</body>
</html>