<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="main_style.css"/>
    <title>Profiler</title>
</head>
<body>
<header id="above">
</header>
<header id="header">
    DATING &#127918; GAMING
</header>
<div class="topnav">
    <a href="/users">PROFILER</a></li>
    <a class="active" href="/mychats">MINE CHATS</a></li>
    <a href="/loggedin">MIN PROFIL</a></li>
    <a href="/logout">LOG UD</a></li>
</div>
<div id="banner">
</div>
<div id="content">
    <h1 style="font-size: 50px; text-align: center">CHAT MED <span th:each="user:${users}"></span><span th:text="${user}"></span></h1>

    <div th:if="${not #lists.isEmpty(chat)}">
        <table class="chat-table">
            <tbody>
            <tr th:each="Message : ${chat}">
                <td Profil billed her></td>
                <td th:text="${Message.getSender()}"></td>
                <td th:text="${Message.getText()}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <form action="/sendmsg" method="POST">
        <p><input type="text" name="msg" style="font-size:20px" required>
            <input type="hidden" name="id" value="chatid">
        <div class="button">
            <input type="Submit" value="  SEND BESKED!  ">
        </div>
    </form>
</div>
<footer>
</footer>

</body>
</html>