<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="main_style.css"/>
    <title>ERROR</title>
</head>
<body>
<header id="above">
</header>
<header id="header">
    DATING &#127918; GAMING
</header>
<div class="topnav">
    <a href="/users">PROFILER</a></li>
    <a href="">MINE CHATS</a></li>
    <a href="/loggedin">MIN PROFIL</a></li>
    <a href="">LOG UD</a></li>
</div>
<div id="banner">

</div>
<div id="content">
    <h1 style="font-size: 50px; text-align: center">ERROR</h1>
    <br>
    <a href="/users" style="text-align: center;">Gå tilbage til profiler</a>
</div>
<footer>
</footer>
</body>
</html>