<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="main_style.css"/>
    <title>Home</title>
</head>
<body>
<header id="above">

</header>
<header id = "header">
    DATING
</header>
<article>
    article
    <div id="banner">
        <button id="login">
            <a href="/logIn"> LOG IN </a>
        </button>
    </div>
    <div id="intro">
    </div>
    <div id="stats">
    </div>
</article>
<footer>
    Footer
</footer>
</body>
</html>