<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="main_style.css"/>
    <title>Home</title>
</head>
<body>
<header id="above">
</header>
<header id="header">
    DATING
</header>
<div id="banner">
</div>
<div id="content">
    <div id="loginfields">
        <form action="/login" method="POST">
            Bruger navn
            <br> <input type="text" name="mail">
            <p></p> Password
            <br> <input type="password" name="password">
            <p></p>
            <div class="button">
                <input type="Submit" value="  Log in!  ">
            </div>
        </form>
    </div>
    <div id="signupfields">
        <form th:action="@{/register}" th:object="${user}" method="POST">
            Bruger navn
            <br> <input type="text" name="userName"required>
            <p></p>Password
            <br> <input type="password" name="password"required>
            <p></p>Fornavn
            <br> <input type="text" name="firstName"required>
            <p></p>Efternavn
            <br> <input type="text" name="lastName"required>
            <p></p>Email
            <br> <input type="email" name="mail"required>
            <p></p>
            <div id="button">
                <p></p><input type="Submit" value="  Sign up!  ">
            </div>
        </form>
    </div>
    <div id="stats">
    </div>
</div>
</div>
<footer>
</footer>
</body>
</html>