<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="main_style.css"/>
    <title>Home</title>
</head>
<body>
<header id="above">
</header>
<header id="header">
    DATING
</header>
<div id="banner">
</div>
<div id="content">
    <div id="loginfields">
        <form action="/loggedIn" method=post>
            Bruger navn
            <br> <input type="text" name="userName">
            <p></p> Password
            <br> <input type="text" name="password">
            <p></p>
            <div class="button">
                <input type="Submit" value="  Log in!  ">
            </div>
        </form>
    </div>
    <div id="signupfields">
        <form action="/createUser" method=post>
            Bruger navn
            <br> <input type="text" name="userName">
            <p></p>Password
            <br> <input type="text" name="password">
            <p></p>Fornavn
            <br> <input type="text" name="firstName">
            <p></p>Efternavn
            <br> <input type="text" name="lastName">
            <p></p>
            <div id="button">
                <p></p><input type="Submit" value="  Log in!  ">
            </div>
        </form>
    </div>
            <div id="stats">
            </div>
    </div>
</div>
    <footer>
    </footer>
</body>
</html>