<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="main_style.css"/>
    <title>Profil</title>
</head>
<body>
<header id="above">
</header>
<header id="header">
    DATING &#127918; GAMING
</header>
<div class="topnav">
    <a href="/users">PROFILER</a></li>
    <a href="/mychats">MINE CHATS</a></li>
    <a class="active" href="/loggedin">MIN PROFIL</a></li>
    <a href="/logout">LOG UD</a></li>
</div>
<div id="banner">
</div>
<div id="content">
    <div id="bio">
        <h1 style="font-size: 50px" th:text="${session.user.userName}"></h1>
        <hr class="rounded">
        <p>Tags:
        <p th:text="${session.user.tags}"></p>
        <p>Beskrivelse:</p>
        <p th:text="${session.user.description}"></p>
        <div id="profilepic">
        </div>
        <a href="/editprofile" style="font-size: 25px"> REDIGER PROFIL</a>
        <div th:if="${not #lists.isEmpty(candidates)}">
            <table class="content-table">
                <thead>
                <tr>
                    <th>Kandidater</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user : ${candidates}">
                    <td></td>
                    <td th:text="${user.userName}"></td>
                    <td><a th:href="@{/profile?id={id}(id=${user.userid})}">SE PROFIL</a></td>
                    <td><a th:href="@{/deletecandidate?id={id}(id=${user.userid})}">SLET KANDIDAT</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="horizontalgap"></div>
<footer class="footer">
    <div id="leftfoot">
        <a href="/users">
            DATING &#127918; GAMING
        </a><br>
        <br>
        <i>Copyright &copy 2020</i>
    </div>
    <div id="centerfoot">
        <b></b>
        <br>
        <a href="/users">PROFILER</a>
        <br>
        <a href="/mychats">MINE CHATS</a>
        <br>
        <a href="/loggedin">MIN PROFIL</a>
        <br>
        <a href="/logout">LOG UD</a>
    </div>
    <div id="rightfoot">

        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <a href="#" class="fa fa-facebook"></a>
        <a href="#" class="fa fa-twitter"></a>
        <a href="#" class="fa fa-linkedin"></a>
        <a href="#" class="fa fa-youtube"></a>
        <a href="#" class="fa fa-instagram"></a>
        <a href="#" class="fa fa-snapchat-ghost"></a>

    </div>
</footer>
</body>
</html>