<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="main_style.css"/>
    <title>Profil</title>
</head>
<body>
<header id="above">
</header>
<header id="header">
    DATING &#127918; GAMING
</header>
<div id="banner">
</div>
<div id="content">
    <div id="bio">
        <h1 style="font-size: 50px" th:text="${session.user.userName}"></h1>
        <hr class="rounded">
        <p>Tags:
        <p th:text="${session.user.tags}"></p>
        <p>Beskrivelse:</p>
        <p th:text="${session.user.description}"></p>
    </div>
    <div id="profilepic">

    </div>
    <a href="" style="font-size: 25px"> REDIGER PROFIL</a>

</div>
<footer>
</footer>
</body>
</html>