<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="main_style.css"/>
    <title>Profiler</title>
</head>
<body>
<header id="above">
</header>
<header id="header">
    DATING &#127918; GAMING
</header>
<div class="topnav">
    <a href="/users">PROFILER</a></li>
    <a class="active" href="/mychats">MINE CHATS</a></li>
    <a href="/loggedin">MIN PROFIL</a></li>
    <a href="">LOG UD</a></li>
</div>
<div id="banner">
</div>
<div id="content">
    <h1 style="font-size: 50px; text-align: center">MINE CHATS</h1>

    <div th:if="${not #lists.isEmpty(mychats)}">
        <table class="content-table">
            <thead>
            <tr>
                <th></th>
                <th>Brugernavn</th>
                <th>Tags</th>
                <th>Beskrivelse</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="chat : ${mychats}">
                <td Profil billed her></td>
                <td th:text="${chat.chat_id}"></td>
                <td><a th:href="@{/chat?id={id}(id=${chat.chat_id})}">GÅ TIL CHAT</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<footer>
</footer>

</body>
</html>