<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="main_style.css"/>
    <title>Profil</title>
</head>
<body>
<header id="above">
</header>
<header id="header">

    <p th:text="${session.user.userName}"></p>
    <p th:text="${session.user.firstName}"></p>
    <p th:text="${session.user.lastName}"></p>


</header>
<div id="banner">
</div>
<div id="content">
</div>
<footer>
</footer>
</body>
</html>