<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="main_style.css"/>
    <title>Profiler</title>
</head>
<body>
<header id="above">
</header>
<header id="header">
    PROFILER
</header>
<div id="banner">
</div>
<div id="content">
    <form action="" method=get>
        <table>
            <tr>
                <td>Find brugernavn:</td>
                <td><input type="text" id="userName" name="userName"></td>
            </tr>
            <tr>
                <td><input type="submit" id="submit" name="submit" value="Se profil"></td>
            </tr>
        </table>
    </form>
    <div th:if="${not #lists.isEmpty(users)}">
        <table>
            <thead>
            <tr>
                <th>Brugernavn</th>
                <th>Tags</th>
                <th>Beskrivelse</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="User : ${users}">
                <td th:text="${User.username}"></td>
                <td th:text="${User.tags}"></td>
                <td th:text="${User.description}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<footer>
</footer>

</body>
</html>