<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="main_style.css"/>
    <title>Profil</title>
</head>
<body>
<header id="above">
</header>
<header id="header">
    PROFILER
</header>
<div id="banner">
</div>
<div id="content">
    <form action="" method=get>
        <table>
            <tr>
                <td>Find brugernavn:</td>
                <td><input type="text" id="userName" name="userName"></td>
            </tr>
            <tr>
                <td><input type="submit" id="submit" name="submit" value="Se profil"></td>
            </tr>
        </table>
    </form>
</div>
<footer>
</footer>

</body>
</html>